@import "tailwindcss";

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-Regular.ttf') format('truetype');
}

body {
  font-family: 'Poppins', sans-serif !important;
}

html {
  scroll-behavior: smooth;
}

.project-card {
  @apply relative flex flex-col gap-4 items-center px-4 py-2 overflow-hidden bg-white border border-black rounded-md shadow-[3px_3px_0_0_black];
}

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeUp {
  animation: fadeUp 0.5s ease-out forwards;
}